/<!--@extends ('layouts.plantilla')-->

@section('title')
Datos generales
@endsection 

@section ('contenido') */


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Generales</title>
    <link rel="stylesheet" href="{{asset('css/styless.css')}}">
</head>

<body>

 <center><h4>Rellene los campos y guarde al terminar</h4></center>
  
<div class="caja">
            <h3>Datos generales</h3>    
            
</div>
    
<!-- Tabs-->
<div class="container">
<d class="lbl-menu">
    <label for="radio1"> Datos Generales</label>
    <label for="radio2"> Datos Domiciliarios</label>
    <label for="radio3"> Datos Laborales de Otra Dependencia</label>
    <label for="radio4"> Datos Academicos</label>
    <label for="radio5"> Produccion Academica</label>
    <label for="radio6"> Experiencia Profesional Docente </label>
    <label for="radio7">Datos Medicos</label>
</div>


<div class="content">

<input type="radio" name="radio" id="radio1" >
<div class="tab1">
    <h2>Datos generales</h2>
</div>
<input type="radio" name="radio" id="radio2" >
<div class="tab2">
    <h2>Datos Domiciliarios </h2>
</div>
<input type="radio" name="radio" id="radio3" >
<div class="tab3">
    <h2> Datos Laborales de Otra Dependencia </h2>
</div>
<input type="radio" name="radio" id="radio4" >
<div class="tab4">
    <h2> Datos Academicos </h2>
</div>
<input type="radio" name="radio" id="radio5" >
<div class="tab5">
    <h2> Produccion Academica</h2>
</div>
<input type="radio" name="radio" id="radio6" >
<div class="tab6">
    <h2>Experiencia Profesional Docente</h2>
</div>
<input type="radio" name="radio" id="radio7" >
<div class="tab7">
    <h2>Datos Medicos</h2>
</div>
</div>
</div>



</body>
</html>


<style type="text/css" media="screen">
    .caja {
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: #ffffff;
        font-size: 0px;
        font-weight: 200;
        text-align: center;
        background: #337AB7;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 0px;
        border-radius: 30px 30px 30px 30px;
        -moz-border-radius: 30px 30px 30px 30px;
        -webkit-border-radius: 30px 30px 30px 30px;
        border: 2px solid #337AB7;
    }
</style>

@endsection 